@keyframes ShowWinCycle {
	0% {
		opacity: 0;
		height: 0;
	}
	5% {
		opacity: 1;
		height: 50px;
	}
	95% {
		opacity: 1;
		height: 50px;
	}
	100% {
		opacity: 0;
		height: 0;
	}
}
#matchbar {
	display: flex;
	flex-direction: row;
	position: fixed;
	justify-content: center;
	width: 420px;
	height: 80px;
	top: 10px;
	left: 50%;
	background: var(--sub-panel-color);
	transform: translateX(-50%);
	.CT {
		color: var(--color-new-ct);
	}
	.T {
		color: var(--color-new-t);
	}
	.W{
		color: var(--white-full);
	}
	#timer {
		display: flex;
		flex-direction: column;
		position: relative;
		width: 126px;
		height: 115px;
		margin-left: 8px;
		margin-right: 8px;
        top: -10px;
        &.no-bo {
            height: 87px;
        }
	}
	#bomb_container {
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		align-items: center;
		position: absolute;
		left: 15px;
		width: 90px;
		top: 10px;
		height: 70px;
		z-index: 0;
		.bomb_timer {
			width: 100%;
			top: 0;
			height: 0;
            background-color: #E56158;			
            &.hide {
                display: none;
            }
		}
	}
	#round_now {
		display: flex;
		flex-direction: column;
		width: 100%;
		height: 50px;
		align-items: center;
		justify-content: center;
		text-transform: uppercase;
		font-size: 14px;
		font-weight: bold;
		z-index: 1;
        color: var(--white-full);
        &.hide {
            display: none;
        }
	}
	#round_timer_text {
		display: flex;
		width: 100%;
		height: 28px;
		justify-content: center;
		font-size: 34px;
		font-weight: bold;
		z-index: 1;
		color: var(--white-full);
        align-items: flex-end;
        &.hide {
            display: none;
        }
	}
	#site {
		position: relative;
		color: white;
		top: 15px;
		bottom: 10px;
		text-transform: capitalize;
		font-size: 50px;
		font-weight: bold;
		text-align: center;
		align-items: center;
		justify-content: center;
		z-index: 2;
		&.hide {
            display: none;
        }
	}
	.team {
		width: 66px;
		display: flex;
		align-items: center;
		z-index: 5;
		.logo {
			display: flex;
			flex-direction: row;
			width: 80px;
			height: 80px;
			align-items: center;
			img {
				width: 80px;
				height: 80px;
				min-width: 100%;
				min-height: 100%;
			}
        }
        &.left {
            justify-content: center;
            flex-direction: row-reverse;
            .logo {
				position: relative;
                justify-content: flex-end;
				left: -5px;
            }
        }
        &.right {
            justify-content: center;
            flex-direction: row;
            .logo {
				position: relative;
                justify-content: flex-start;
				right: -5px;
            }
        }
	}
	.team-name {
		display: flex;
		position: absolute;
		width: 360px;
		height: 70px;
		align-items: center;
		justify-content: center;
		text-transform: uppercase;
		font-weight: 600;
		font-size: 30px;
		z-index: 3;
		color: #fff !important;
		&.left {
			position: fixed;
			top: 20px;
			z-index: 4;
			right: 440px;
			text-align: right;
			direction: rtl;
			align-items: flex-start;
			justify-content: flex-start;
			white-space: nowrap;
		}
		&.right {
			position: fixed;
			top: -12px;
			z-index: 4;
			left: 440px;
			align-items: flex-end;
			justify-content: flex-start;
			white-space: nowrap;
		}
	}
	.score {
		display: flex;
		flex-direction: row;
		width: 77px;
		height: 75px;
		align-items: end;
		justify-content: center;
		font-weight: 900;
		font-size: 45px;
		&.left {
			position: relative;
			left: 5px;
		}
		&.right {
			position: relative;
			right: 5px;
		}
	}
}
.win_text {
	text-transform: uppercase;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: 150px;
	background-color: var(--sub-panel-color);
	width: 0;
	height: 160px;
	opacity: 0;
	font-size: 50px;
	transition: width 0.4s ease-in-out;
	color: #fff;
	font-weight: bold;
	text-shadow: -3px 7px 30px rgba(0, 0, 0, 0.4);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 0 30px;
	.winnerLogo {
		position: absolute;
		top: 0px;
		left: -30px;
		img {
			height: 160px;
		}
	}
	.ucLogo {
		position: absolute;
		top: 0px;
		right: -30px;
		img {
			height: 160px;
		}
	}
	.teamName {
		color: #fff !important;
		font-size: 40px;
	}
  
	span {
	  &:nth-of-type(2) {
		font-weight: 50;
		font-style: italic;
		font-size: 30px;
		opacity: 0.6;
	  }
	}
  
	&.show {
	  width: 550px;
	  opacity: 1;
	  transition: width 0.4s ease-in-out, box-shadow 0.4s 0.4s ease-in-out;
	}
  
	&.T {
	color: var(--color-new-t) !important;
	  box-shadow: var(--color-new-t) 0px 0px 0 0;
  
	  &.show {
		box-shadow: var(--color-light-t) 15px 15px 0 0;
	  }
	}
  
	&.CT {
		color: var(--color-new-ct) !important; 
	  box-shadow: var(--color-new-ct) 0px 0px 0 0;
  
	  &.show {
		box-shadow: var(--color-light-ct) 15px 15px 0 0;
	  }
	}
  }

.defuse_plant_container {
	position: fixed;
	color: white;
	top: 130px;
	padding: 100px;
	font-size: 30px;
	text-align: center;
	.defuse_plant_bar {
		height: 49px;
		position: absolute;
		width: 0%;
	}
	.defuse_plant_caption {
		z-index: 1;
		display: flex;
		text-transform: uppercase;
		align-items: flex-end;
		svg {
			margin-right: 13px;
		}
    }
    &.planting {
		background-image: url(../../assets/PlantDefuse/Plant.gif);
		background-position: center;
		background-repeat: no-repeat;
		background-size: 400px;
        .defuse_plant_bar {
            left: 0;
        }
    }
	&.defusing {
		background-image: url(../../assets/PlantDefuse/Defuse.gif);
		background-position: center;
		background-repeat: no-repeat;
		background-size: 400px;
        .defuse_plant_bar {
            right: 0;
        }
    }
    &.hide {
        opacity: 0;
    }
}
#encapsulator {
	overflow: hidden;
	display: flex;
	flex-direction: row;
	position: fixed;
	justify-content: center;
	top: 20px;
	width: 270px;
	height: 10px;
	left: 50%;
	transform: translateX(-50%);
	.CT {
		color: var(--color-new-ct);
	}
	.T {
		color: var(--color-new-t);
	}
}
.container {
	display: flex;
	flex-direction: row;
	width: 280px;
	height: 10px;
}
.container.left {
	justify-content: flex-start;
}
.container.right {
	justify-content: flex-end;
}
.wins_box_container {
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 100%;
	align-items: flex-start;
	justify-content: right;
}
.series_wins.left {
	.wins_box_container {
		flex-direction: row-reverse;
		justify-content: left;
	}
}
.wins_box {
	width: 28px;
	height: 8px;
	margin-left: 3px;
	margin-right: 3px;
	box-sizing: border-box;
}
.wins_box.CT {
	background-color: rgba(100, 97, 97, 0.8);
}
.wins_box.CT.win {
	background-color: var(--color-new-ct);
}
.wins_box.T {
	background-color: rgba(100, 97, 97, 0.8);
}
.wins_box.T.win {
	background-color: var(--color-new-t);
}
